@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon-7be827e199392bb56ae95dacf43f5036.ttf") format("truetype"),
url("../fonts/flaticon-7be827e199392bb56ae95dacf43f5036.woff") format("woff"),
url("../fonts/flaticon-7be827e199392bb56ae95dacf43f5036.woff2") format("woff2"),
url("../fonts/flaticon-7be827e199392bb56ae95dacf43f5036.eot#iefix") format("embedded-opentype"),
url("../fonts/flaticon-7be827e199392bb56ae95dacf43f5036.svg#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-email:before {
    content: "\f101";
}
.flaticon-phone-call:before {
    content: "\f102";
}
.flaticon-maps-and-flags:before {
    content: "\f103";
}
.flaticon-instagram:before {
    content: "\f104";
}
.flaticon-gallery:before {
    content: "\f105";
}
.flaticon-serving-dish:before {
    content: "\f106";
}
.flaticon-edit:before {
    content: "\f107";
}
.flaticon-left-arrow:before {
    content: "\f108";
}
.flaticon-wedding:before {
    content: "\f109";
}
.flaticon-cake:before {
    content: "\f10a";
}
.flaticon-wedding-rings:before {
    content: "\f10b";
}
.flaticon-play:before {
    content: "\f10c";
}
.flaticon-quotation:before {
    content: "\f10d";
}
.flaticon-dove:before {
    content: "\f10e";
}
.flaticon-calendar:before {
    content: "\f10f";
}
.flaticon-heart:before {
    content: "\f110";
}
.flaticon-pinterest:before {
    content: "\f111";
}
.flaticon-facebook-app-symbol:before {
    content: "\f112";
}
.flaticon-twitter:before {
    content: "\f113";
}
.flaticon-instagram-1:before {
    content: "\f114";
}
.flaticon-linkedin:before {
    content: "\f115";
}
.flaticon-youtube:before {
    content: "\f116";
}
.flaticon-search:before {
    content: "\f117";
}
.flaticon-shopping-cart:before {
    content: "\f118";
}
.flaticon-left-arrow-1:before {
    content: "\f119";
}
.flaticon-user:before {
    content: "\f11a";
}
.flaticon-comment-white-oval-bubble:before {
    content: "\f11b";
}
.flaticon-calendar-1:before {
    content: "\f11c";
}
.flaticon-right-arrow:before {
    content: "\f11d";
}
.flaticon-play-1:before {
    content: "\f11e";
}
.flaticon-left-quote:before {
    content: "\f11f";
}
.flaticon-right-arrow-1:before {
    content: "\f120";
}
.flaticon-left-arrow-2:before {
    content: "\f121";
}
.flaticon-next:before {
    content: "\f122";
}
