*:focus, button:focus, input:focus, *, input, button, *:active, input:active, button:active, .bootstrap-select .btn:focus, option {
  outline: 0;
}

.multipage .navbar-collapse {
  max-width: 1200px;
  width: auto;
}

.multipage .row, .multipage .row > * {
  position: fixed;
}

.multipage .mod-menu {
  position: relative;
  z-index: 99;
}

.multipage ul.no-left-mar {
  margin: 0 0 0 0;
}
.multipage ul li {
  text-transform: capitalize;
  position: relative;
  padding: 20px 0;
}
.multipage ul li a {
  color: #18191d;
  background: none !important;
  padding: 30px 15px;
  text-decoration: none !important;
}

.multipage ul li.active > a {
  color: #0d3c67;
}
.multipage ul li ul {
  position: absolute;
  top: 100%;
  left: -20%;

  margin-left: -115px;
  background: #fff;
  width: 230px;
  -webkit-transition: all .2s;
  transition: all .2s;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.multipage .bottom-nav ul li ul {
  bottom: 100%;
  top: auto;
}
.multipage .bottom-nav ul li ul.dm-align-2 {
  transition-delay: -.1s;
}
.multipage .bottom-nav ul li ul.dm-align-2 ul  {
  bottom: -1px;
  top: auto;
}
.multipage .bottom-nav.scroll-menu ul li ul {
  top: 100%;
  bottom: auto;
}
.multipage .bottom-nav.scroll-menu ul li ul.dm-align-2 ul {
  top: 0;
  bottom: unset;
}
.multipage ul li ul li {
  padding: 12px 23px;
  /*  padding: 12px 23px 12px 20px;*/
  border-bottom: 1px solid #e6e6e6;
  overflow: hidden;
}
.multipage ul li ul li a {
  color: #242424;
  padding: 12px 23px;
  display: inline;
  text-transform: none;
}

.multipage ul li ul li ul {
  left: 100%;
  right: auto;
  top: 0;
  margin-left: 0;
  /*margin-left: -20px;*/
  width: 0;
  overflow: hidden;
  display: block;
  max-height: none;
  opacity: 1;
}
.multipage ul li ul.dm-align-2 {
    left: 120px;
}
.multipage ul li ul li ul li {
  width: 230px;
}
.multipage ul li.right ul li ul {
  left: auto;
  right: 100%;
}
.multipage ul li.mega-menu {
  position: static;
}
.multipage ul li.mega-menu > ul {
  width: 100%;
  left: 0;
  float: none;
  margin-left: 0;
  max-height: 0;
  display: block;
  overflow: hidden;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
  opacity: 0;
}
.multipage .bottom-nav ul li.mega-menu > ul {
   transition: all -0.8s;
}
.multipage .bottom-nav.scroll-menu ul li.mega-menu > ul {
  transition: all .2s;
}
.multipage ul li.mega-menu > ul > li {
  float: left;
  border: none;
  width: 25%;
}
.multipage ul li.mega-menu.align-left > ul > li {
	text-align: left;
}
.multipage ul li.mega-menu.four-col > ul > li {
  float: left;
  border: none;
  width: 25%;
}
.multipage ul li.mega-menu.five-col > ul > li {
  float: left;
  border: none;
  width: 20%;
}
.multipage ul li.mega-menu.six-col > ul > li {
  padding: 30px 0;
  float: left;
  border: none;
  width: 16%;
}

.multipage ul li.mega-menu > ul > li > a {
  text-transform: uppercase;
  padding-bottom: 10px;
  font-weight: 600;
}
.multipage ul li.mega-menu > ul > li ul {
  width: 100%;
  position: relative;
  right: auto;
  top: auto;
  left: auto;
}
.multipage ul li.mega-menu > ul > li ul li {
  border: none;
}
.multipage ul li.mega-menu > ul > li ul li a {
  padding-top: 8px;
  padding-bottom: 8px;
}
.multipage ul li.mega-menu > ul > li ul li a:hover {
 color: #0d3c67;
 margin-left:8px;
 transition: all 0.2s ease-out 0s;
}
.multipage ul li.mega-menu:hover > ul {
  opacity: 1;
  max-height: 2000px;
}

.multipage #menu {
  float: right;
  display: block;
}
.multipage .main-nav .nav {
  float: none;
}
.multipage .main-nav.border {
  border-top:1px solid #f1f1f1;
  border-bottom:1px solid #f1f1f1;
}

.multipage .main-nav .nav.top-nav {
  float: right;
}
.multipage .main-nav .nav.top-nav > li {
  float: left;
}

  .multipage {
    top: 0;
    left: 0;
    width: 100%;
    z-index: auto;
	padding-top:0;
	padding-bottom:0;
  }

  /* pin style */

  .multipage.pin-style.pin-start {
    position: fixed;
  }
  .multipage.pin-style.pin {
    background: rgba(2, 2, 3, 0.8);
    -webkit-transition: all .6s;
    transition: all .6s;
  }
  .multipage.pin-style.before {
    -webkit-transition: all .6s;
    transition: all .6s;
  }
  .multipage.pin-style .mod-menu {
    border: none !important;
  }
  .multipage ul li:hover > a {
    color: #0d3c67;
  }

  .multipage ul li ul li:hover > ul {
    width: 209px;
  }
  .multipage ul li:hover > ul {
    opacity: 1;
    max-height: 2000px;
    overflow: visible;
  }
  .multipage ul li:hover > ul li {
    overflow: visible;
  }
  .multipage ul li:hover > ul li ul {
    overflow: hidden;
    opacity: 1;
  }


  .multipage #menu ul li ul li > a:before {
    background-color: #0d3c67;
    content: "";
    position: absolute;
    left: auto;
    right: 0;
    bottom: 5px;
    height: 2px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    width: 0;
  }

  .multipage #menu ul li ul li:hover > a:before {
    left: 0;
    right: auto;
    width: 100%
  }
  .multipage #menu ul li ul li:hover > a {
    color: #0d3c67;
  }
  .multipage #menu ul li ul li a {
    color: #18191d;
    position: relative;
    padding: 10px 0;
    }
