/*
Theme Name: Olam - Child
Theme URI: http://themes.layero.com/olamwp/
Description: Easy Digital Downloads WordPress theme.
Version: 3.0
Author:  www.layero.com    
Author URI: www.layero.com
Template: olam
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: custom-colors,featured-images,theme-options
Text Domain: olam
*/

body { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto , Arial, Helvetica !important; }

/* Unyson */
.align-center { text-align:center;}

/* Home Header */
.product-search h1 span { color:#FFF; }
h1 { font-size: 48px !important; }
a.fw-btn-light { color:#333 !important; }
a.fw-btn-light:hover { color:#FFF !important; }
a.fw-btn-primary:hover span { color:#FFF !important; }
a.center.header-btn-one { display: inline-block !important; margin-left:10px !important; margin-right:10px !important; min-width:220px; }
a.center.header-btn-two { display: inline-block !important; margin-left:10px !important; margin-right:10px !important; min-width:220px; }
.dark-overlay{    background: #03041b !important; opacity: 0.7 !important;}

.title-color-change .fw-special-subtitle{ color:#fff !important;}

/* Product Detail Page */
.envato_btn { background-color:#FFF !important; box-shadow:5px 5px 0 rgba(0,0,0,0.1); width: 226px; max-width: 100%; min-width: inherit; margin-bottom: 0; color:#666; }
.envato_btn:hover { color:#039be5 !important; }
.envato_btn:after { content: '' !important;  }

/* Product Listing Page */
.edd_download_inner .thumb { margin: 0 !important; }

/* Product Listing on Home Page */
.product_type { text-align:center;}
.free_product_tag { position: absolute; right: 0; top: 0; }

/* MM Menu */
.mm-panel ul li a { text-transform:uppercase; font-weight:bold;}
.wpmm-force-bg { background:none !important; overflow: hidden; }
.mm-page { position:none !important; }

footer {z-index:999;}

.scroll-top { bottom:10px !important; }

@media (max-width: 767px) {
    h1 { font-size: 2.25em !important; }
    .fw-btn.fw-btn-primary a { margin-left:0 !important;  }
}


@media (max-width: 600px) {
.fw-iconbox {text-align: center;}
}

/* EDD Featured Items */
.product-details {position: relative; padding: 14px 20px !important;}
.product-price span.edd_price {
        border-radius: 100%;
    color: #039be5;
    width: 40px;
    height: 40px;
    float: right;
    text-align: center;
    line-height: 40px;
    font-size: 22px;
    font-weight: 700;
    position: absolute;
    top: 15px;
    right: 10px;
}
.product-name {text-align: left !important; padding: 0 0 0 0 !important;}
.product_type {text-align: left !important; font-size: 12px; margin: -6px 0 0 0;}
.middle-area .fw-iconbox .fw-iconbox-title h3{    margin-bottom: 2px !important;}

/* EDD Listing Items */

.logo {
    display: block !important;
}
